DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=influx
DOCKER_INFLUXDB_INIT_PASSWORD=influxinflux
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=INFLUX_DB_TOKEN_PLACEHOLDER
DOCKER_INFLUXDB_INIT_ORG=influx
DOCKER_INFLUXDB_INIT_BUCKET=influx
