apiVersion: 1
datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    database: influx
    isDefault: true
    editable: true
    user: influx
    jsonData:
      httpHeaderName1: 'Authorization'
    secureJsonData:
      httpHeaderValue1: 'Token INFLUX_DB_TOKEN_PLACEHOLDER'
